In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargar tablas desde archivos CSV
clientes_df = pd.read_csv('clientes.csv')
ventas_df = pd.read_csv('ventas.csv')
persona_df = pd.read_csv('persona.csv')
metodo_pago_df = pd.read_csv('metodoPago.csv')
vehiculo_df = pd.read_csv('vehiculo.csv')
sucursal_df = pd.read_csv('sucursal.csv')
tiempo_df = pd.read_csv('tiempo.csv')

In [3]:
# Eliminar duplicados
clientes_df.drop_duplicates(inplace=True)
ventas_df.drop_duplicates(inplace=True)
persona_df.drop_duplicates(inplace=True)
metodo_pago_df.drop_duplicates(inplace=True)
vehiculo_df.drop_duplicates(inplace=True)
sucursal_df.drop_duplicates(inplace=True)
tiempo_df.drop_duplicates(inplace=True)

In [4]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [5]:
# Formato consistente para fechas
clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')
tiempo_df['Fecha'] = pd.to_datetime(tiempo_df['Fecha'], errors='coerce')
ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

C:\Users\Tony\AppData\Local\Temp\ipykernel_7492\3399448678.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_7492\3399448678.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_7492\3399448678.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  tiempo_df['Fecha'] = pd.to_datetime(tiempo_df['Fecha'], errors='coerce')

In [6]:
# Mostrar primeras filas
print("Clientes")
print(clientes_df.head())

print("Ventas")
print(ventas_df.head())

print("Persona")
print(persona_df.head())

print("MetodoPago")
print(metodo_pago_df.head())

print("Vehiculo")
print(vehiculo_df.head())

print("Sucursal")
print(sucursal_df.head())

print("Tiempo")
print(tiempo_df.head())

Clientes
   ID_Cliente  ID_Persona  ID_MetodoPago  Numero_total_alquileres  \
0           1           1              1                      703
1           2           2              2                      207
2           3           3              3                      424
3           4           4              4                      205
4           5           5              5                      685

   Gasto_total Ultima_fecha_alquiler  Duracion_promerio_alquiler
0       492.12            2023-10-19                           2
1       901.18            2023-12-05                          12
2      7872.78            2024-08-05                           2
3      4935.30            2024-07-27                          11
4      5838.79            2024-01-02                          17
Ventas
   ID_Venta  ID_Cliente  ID_Vehiculo  ID_Sucursal  ID_Tiempo  \
0         1           1            1            1          1
1         2           2            2            2          2
2         3           3            3            3          3
3         4           4            4            4          4
4         5           5            5            5          5

  Fecha_de_alquiler  Monto_de_alquiler  Duracion_de_alquiler
0        2021-12-04             895.51                     6
1               NaT            4024.86                    20
2        2024-01-09            7894.84                     2
3        2021-04-08            7710.54                    15
4        2022-06-10            4324.74                     9
Persona
   ID_Persona              Nombre FechaNacimiento  \
0           1        Taite Maykin      1998-06-16
1           2   Wylma Phizakarley      1998-01-23
2           3          Lory Pales      2000-05-30
3           4      Allie Welbrock      1996-04-20
4           5  Frederique Ramirez      1999-04-02

                          Email  Genero          Ciudad           Pais
0      tmaykin0@list-manage.com    Male        Brooklyn  United States
1      wphizakarley1@jalbum.net  Female          Denver  United States
2  lpales2@pagesperso-orange.fr  Female         Seattle  United States
3     awelbrock3@mayoclinic.com    Male  Corpus Christi  United States
4    framirez4@seattletimes.com  Female          Denver  United States
MetodoPago
   ID_MetodoPago                   TipoPago                  NombreBanco  \
0              1  diners-club-carte-blanche            Parisian and Sons
1              2  diners-club-carte-blanche                Ledner-Carter
2              3                    maestro                  Reichel LLC
3              4            americanexpress  Stracke, Wuckert and Walker
4              5                        jcb                  Kunze Group

  FechaExpiracion
0         2027-03
1         2026-05
2         2026-08
3         2025-12
4         2026-04
Vehiculo
   ID_Vehiculo                                      Tipo_vehiculo    Marca  \
0            1          cubilia curae duis faucibus accumsan odio   Subaru
1            2            arcu sed augue aliquam erat volutpat in  Mercury
2            3  nulla suscipit ligula in lacus curabitur at ip...    Volvo
3            4  hac habitasse platea dictumst morbi vestibulum...  Maybach
4            5        fermentum donec ut mauris eget massa tempor    Eagle

     Modelo   Año  Capacidad
0   Tribeca  2009          6
1  Marauder  2003          1
2       V70  1998          5
3       57S  2005          2
4    Vision  1995          3
Sucursal
   ID_Sucursal                                  Nombre           Ciudad  \
0            1  Innovative Industrial Properties, Inc.  West Palm Beach
1            2                  Colony NorthStar, Inc.          Jackson
2            3                   Treehouse Foods, Inc.         Santa Fe
3            4                                  Orange         Richmond
4            5             Kimball International, Inc.         Columbus

            Pais  Capacidad_almacenamiento
0  United States                        40
1  United States                        43
2  United States                        48
3  United States                        30
4  United States                        47
Tiempo
   ID_Tiempo      Fecha  Mes   Año  Trimestre
0          1 2022-03-26   12  2020          4
1          2 2021-09-26   11  2023          1
2          3 2023-06-15   12  2021          2
3          4 2023-11-09    4  2022          4
4          5 2021-05-16    5  2022          2

In [7]:
# Eliminar filas donde 'Fecha_de_Alquiler' sea NaT
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'].notna()]
# Eliminar filas donde la fecha de alquiler sea futura
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'] <= pd.Timestamp.now()]
# Eliminar filas con montos de alquiler o gastos totales negativos
ventas_df = ventas_df[ventas_df['Monto_de_alquiler'] >= 0]
clientes_df = clientes_df[clientes_df['Gasto_total'] >= 0]

In [8]:
# Revisar si quedan valores nulos
print(clientes_df.isnull().sum())
print(ventas_df.isnull().sum())
print(persona_df.isnull().sum())
print(metodo_pago_df.isnull().sum())
print(vehiculo_df.isnull().sum())
print(sucursal_df.isnull().sum())
print(tiempo_df.isnull().sum())

ID_Cliente                    0
ID_Persona                    0
ID_MetodoPago                 0
Numero_total_alquileres       0
Gasto_total                   0
Ultima_fecha_alquiler         0
Duracion_promerio_alquiler    0
dtype: int64
ID_Venta                0
ID_Cliente              0
ID_Vehiculo             0
ID_Sucursal             0
ID_Tiempo               0
Fecha_de_alquiler       0
Monto_de_alquiler       0
Duracion_de_alquiler    0
dtype: int64
ID_Persona         0
Nombre             0
FechaNacimiento    0
Email              0
Genero             0
Ciudad             0
Pais               0
dtype: int64
ID_MetodoPago      0
TipoPago           0
NombreBanco        0
FechaExpiracion    0
dtype: int64
ID_Vehiculo      0
Tipo_vehiculo    0
Marca            0
Modelo           0
Año              0
Capacidad        0
dtype: int64
ID_Sucursal                 0
Nombre                      0
Ciudad                      0
Pais                        0
Capacidad_almacenamiento    0
dtype: int64
ID_Tiempo    0
Fecha        0
Mes          0
Año          0
Trimestre    0
dtype: int64

In [9]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [10]:
# Guardar los datos limpios en nuevos archivos CSV
clientes_df.to_csv('Clientes_Nuevo.csv', index=False)
ventas_df.to_csv('Ventas_Nuevo.csv', index=False)
persona_df.to_csv('Persona_Nuevo.csv', index=False)
metodo_pago_df.to_csv('MetodoPago_Nuevo.csv', index=False)
vehiculo_df.to_csv('Vehiculo_Nuevo.csv', index=False)
sucursal_df.to_csv('Sucursal_Nuevo.csv', index=False)
tiempo_df.to_csv('Tiempo_Nuevo.csv', index=False)